# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Challenge-fetch.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\raoul\games\gamesMBOUTRECHT\Challenge-fetch\.idea\.idea.Challenge-fetch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
